<header>	
	<h1>The Ermahgerd Translator</h1>
	<img src="pic1388269.jpg" />
</header>
<div id="content">
	<article>
		<h2>Smart goes in</h2>
		<textarea id="smart"></textarea>
	</article>
	<article>
		<h2>Dumb comes out</h2>
		<textarea id="dumb"></textarea>
	</article>
</div>
<footer>
	Created with <a href="//harpjs.com">Harp</a> by <a href="//scperkins.github.io">SCPerkins<a/> aand <a href="//ejehardenberg.github.io">EJEHardenberg</a>
</footer>